<!-- Product Slider start -->
<section class="secPad productSlider">
  <div class="heading text-center">
     <h2>Special Offer</h2>
     <p>Near by you</p>
  </div>
  <div class="container mt-5">
     <div class="row">
        <div class="col-12">
           <div class="slider">
              <!-- SLide -->
              <div class="product-grid">
                 <div class="product-image">
                    <a href="#" class="image">
                    <img class="pic-1" src="assets/images/pro1.png" alt="">
                    </a>
                    <ul class="social">
                       <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                       <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                    </ul>
                 </div>
                 <div class="product-content">
                    <h3 class="title"><a href="#">Anti Ageing Hand Treatment</a></h3>
                    <div class="price">
                       $100
                       <span> $900 </span>
                    </div>
                    <div class="custreview">
                       <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <!-- SLide End -->
              <!-- SLide -->
              <div class="product-grid">
                 <div class="product-image">
                    <a href="#" class="image">
                    <img class="pic-1" src="assets/images/pro2.png" alt="">
                    </a>
                    <span class="product-new-label">sale</span>
                    <ul class="social">
                       <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                       <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                    </ul>
                 </div>
                 <div class="product-content">
                    <h3 class="title"><a href="#">Special occasion makeup</a></h3>
                    <div class="price">
                       $100
                       <span> $200 </span>
                    </div>
                    <div class="custreview">
                       <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <!-- SLide End -->
              <!-- SLide -->
              <div class="product-grid">
                 <div class="product-image">
                    <a href="#" class="image">
                    <img class="pic-1" src="assets/images/pro3.png" alt="">
                    </a>
                    <ul class="social">
                       <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                       <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                    </ul>
                 </div>
                 <div class="product-content">
                    <h3 class="title"><a href="#">Standard Manicure</a></h3>
                    <div class="price">
                       $150
                       <span> $300 </span>
                    </div>
                    <div class="custreview">
                       <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <!-- SLide End -->
              <!-- SLide -->
              <div class="product-grid">
                 <div class="product-image">
                    <a href="#" class="image">
                    <img class="pic-1" src="{{slides.img}}" alt="">
                    </a>
                    <span class="product-new-label">sale</span>
                    <ul class="social">
                       <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                       <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                    </ul>
                 </div>
                 <div class="product-content">
                    <h3 class="title"><a href="#">Painless Skin Peel Facial</a></h3>
                    <div class="price">
                       $300
                       <span> $600 </span>
                    </div>
                    <div class="custreview">
                       <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <!-- SLide End -->
              <!-- SLide -->
              <div class="product-grid">
                 <div class="product-image">
                    <a href="#" class="image">
                    <img class="pic-1" src="assets/images/pro1.png" alt="">
                    </a>
                    <ul class="social">
                       <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                       <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                    </ul>
                 </div>
                 <div class="product-content">
                    <h3 class="title"><a href="#">Anti Ageing Hand Treatment</a></h3>
                    <div class="price">
                       $100
                       <span> $900 </span>
                    </div>
                    <div class="custreview">
                       <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <!-- SLide End -->
              <!-- SLide -->
              <div class="product-grid">
                 <div class="product-image">
                    <a href="#" class="image">
                    <img class="pic-1" src="assets/images/pro2.png" alt="">
                    </a>
                    <span class="product-new-label">sale</span>
                    <ul class="social">
                       <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                       <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                    </ul>
                 </div>
                 <div class="product-content">
                    <h3 class="title"><a href="#">Special occasion makeup</a></h3>
                    <div class="price">
                       $100
                       <span> $200 </span>
                    </div>
                    <div class="custreview">
                       <ul class="list-unstyled list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <!-- SLide End -->
           </div>
           <div class="text-center mt-4">
              <a href="#" class="btn btn-info custombtn text-capitalize">View All</a>
           </div>
        </div>
     </div>
  </div>
</section>
